@charset "UTF-8";

.menu {
  width: 1200px;
  min-width: 769px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  -webkit-box-shadow: 0px 1px 2px 0px #505c77;
  box-shadow: 0px 1px 2px 0px #505c77;
}

.menu__link {
  width: 120px;
  padding: 11px;
  color: #4ba7ee;
}

.menu-active {
  color: #033970;
  border-bottom: 2px solid #033970;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px 30px 20px;
  background: #f9f9f9;
}

.tab1__title {
  font-size: 24px;
  font-family: "Roboto Slab", sans-serif;
  color: #033970;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px;
}

.title-hotel {
  margin-right: 5px;
}

.title-hotel-name {
  font-weight: bold;
  margin-right: 5px;
}

.tab1__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab1__section-option {
  margin: 0px 4px 0 4px;
  background: #fff;
  width: 225px;
  height: 488px;
  border: 1px solid #c9e3f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.checked {
  margin: 10px;
  background: #fff;
  width: 225px;
  height: 488px;
  border: 1px solid #326c96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.option-title {
  font-size: 16px;
  color: #105aa3;
  text-align: center;
  max-width: 140px;
  margin-top: 20px;
}

.option-title-line {
  border: 0;
  width: 70px;
  background-color: #c9e3f9;
  height: 1px;
  position: absolute;
  margin-top: 65px;
}

.option-content {
  margin-top: 83px;
  font-size: 15px;
  color: #001841;
  max-width: 183px;
  padding-left: 9px;
  position: absolute;
  line-height: 25px;
}

.option-check {
  background: #f9f9f9;
  width: 196px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #9da2a9;
  position: absolute;
  bottom: 17px;
}

.option-checked {
  background: #f9f9f9;
  width: 190px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #033970;
  position: absolute;
  bottom: 30px;
  border: 1px solid #326c96;
}

.tab2__container {
  width: 1200px;
  min-width: 769px;
  height: 765px;
  margin-top: 86px;
  margin-bottom: 30px;
  padding: 32px 20px 20px 20px;
  background: #fff;
  border: 1px solid #dee1e8;
}

.tab2__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.tab2__align-top {
  vertical-align: top;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tab2__section-title {
  color: #4ba7ee;
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  margin: 0px 15px 0px 20px;
}

.tab2__section-comment {
  color: #105aa3;
  font-size: 12px;
}

.tab2__option {
  border: 1px solid #dee1e8;
  margin-top: 30px;
  background: #fff;
}

.tab2__option-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 197px;
}

.tab2__option-text {
  margin: 15px 0px 15px 24px;
  max-width: 603px;
  position: relative;
}

.tab2__option-title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #033970;
}

.tab2__option-definition {
  font-size: 14px;
  color: #616469;
  margin-top: 3px;
}

.tab2__option-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.tab2__option-show {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #48a8f1;
}

.arrow-small {
  width: 10px;
  margin-left: 20px;
}

.open {
  height: 440px;
}

.tab2__option-includes {
  max-height: 190px;
  color: #616469;
  padding-left: 80px;
}

.includes-title {
  font-size: 16px;
}

.includes-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 20px;
}

.list-column {
  height: 119px;
  padding-right: 22px;
}

.includes-element {
  width: 282px;
}

.includes-extra {
  font-size: 14px;
  font-weight: bold;
  color: #033970;
}

.checkbox {
  display: none;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}/* Hide the browser's default radio button */.check-container input {position: absolute;opacity: 0;cursor: pointer;}/* Create a custom radio button */.checkmark {position: absolute;top: 0;left: 0;height: 16px;width: 16px;background-color: #fff;border-radius: 50%;border: 1px solid #9da2a9;}/* On mouse-over, add a grey background color */.check-container:hover input ~ .checkmark {background-color: #ccc;}/* When the radio button is checked, add a green background */.check-container input:checked ~ .checkmark {background-color: white;border: 1px solid #6dc138;}/* Create the indicator (the dot/circle - hidden when not checked) */.checkmark:after {content: "";position: absolute;display: none;}/* Show the indicator (dot/circle) when checked */.check-container input:checked ~ .checkmark:after {display: block;}/* Style the indicator (dot/circle) */.check-container .checkmark:after {top: 3px;left: 3px;width: 10px;height: 10px;border-radius: 50%;background: #6dc138;}* {margin: 0;padding: 0;}body {font-family: "Roboto", sans-serif;background: #f9f9f9;}a:link,a:active,a:hover,a:visited {text-decoration: none;}ul {list-style: none;}li::before {content: "•";color: gray;display: inline-block;width: 1em;margin-left: -1em;}

/*# sourceMappingURL=main.css.map */
