@import 'core/variables';
@import 'header/navbar';
@import 'core/tab1';
@import 'components/checkbox';

*{
	margin: 0;
	padding: 0;
}
body {
	font-family: $main-font;
	height: 100vh;
}
a:link, a:active, a:hover, a:visited {
	text-decoration: none;
}
ul{
	list-style: none;
}
li::before {
	content: "•"; 
	color: gray;
	display: inline-block;
	width: 1em;
	margin-left: -1em
}
	