.tab1__container{
  height: 100vh; 
  margin-top: 45px;
  @media all and (max-width:768px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.tab1__title {
  font-size: 24px;
  font-family: $secondary-font;
  color: $dark-text;
  display: flex;
  justify-content: center;
  padding: 40px;
  @media all and (max-width:768px) {
    flex-direction: column;
    align-items: center;
  }
}
.title-hotel{
  margin-right: 5px;
}
.title-hotel-name{
  font-weight: bold;
  margin-right: 5px;
}
.tab1__section {
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (max-width:768px) {
    flex-direction: column;
  }
}
.tab1__section-option{
  margin: 0px 4px 0 4px;
  background: $menu-bg;
  width: 225px;
  height: 488px;
  border: 1px solid $line-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative; 
  @media all and (max-width:768px) {
    margin-bottom: 10px;
    width: 500px;
  }
  @media all and (max-width:520px) {
    margin-bottom: 10px;
    width: 300px;
  }
}
.tab1__section-option:focus-within{
  border: 1px solid $border-color;
}


.checked{
  margin: 10px;
  background: $menu-bg;
  width: 225px;
  height: 488px;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative; 
}
.option-title{
  font-size: 16px;
  color: $medium-text;
  text-align: center;
  max-width: 140px;
  margin-top: 20px;
}
.option-title-line{
  border: 0;
  width: 70px;               
  background-color: $line-color;
  height: 1px;
  position: absolute;
  margin-top: 65px;
}
.option-content{
  margin-top: 83px;
  font-size: 15px;
  color: $regimen-text;
  max-width: 183px;
  padding-left: 9px;
  position: absolute;
  line-height: 25px;
}  
.option-check{
  background: $general-bg;
  width: 196px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $list-point;
  position: absolute; 
  bottom: 17px;
}
.option-check:focus-within{
  border: 1px solid $border-color;
  color: $dark-text;
}

