//-- Fonts -- //
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', sans-serif;

//-- Backgrounds -- //
$menu-bg: #fff;
$general-bg: #f9f9f9;
$exclusive: #e82e34;

//-- Texts -- //
$dark-text: #033970;
$medium-text: #105aa3;
$light-text: #4ba7ee;
$regimen-text: #001841;
$options-text: #616469;

//-- Elements -- //
$list-point: #9da2a9;
$line-color: #c9e3f9;
$border-color: #326c96;
$checked: #6dc138;




