$main-font: 'Roboto', sans-serif;
$slab-font: 'Roboto Slab', sans-serif;

$menu-bg: #fff;
$general-bg: #f9f9f9;
$dark-text: #033970;
$medium-text: #105aa3;
$light-text: #4ba7ee;
$line-color: #326c96;
$regimen-text: #001841;
$options-text: #616469;
$exclusive: #e82e34;

