
.menu {
  width: 1200px;
  min-width: 769px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  background: $menu-bg;
  text-align: center;
  font-size: 16px;
  font-family: $secondary-font;
  box-shadow: 0px 1px 2px 0px $menu-shadow;
}
.menu__link{
  width: 120px;
  padding: 11px;
  color: $light-text;
}
a.menu__link:active, a.menu__link:hover {
  color: $dark-text;
  border-bottom: 2px solid $dark-text;
}