.check-container {
  display: block;
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid $list-point;
}

/* On mouse-over, add a grey background color */
.check-container:hover input:checked ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a green background */
.check-container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid $checked;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check-container .checkmark:after {
top: 3px;
left: 3px;
width: 10px;
height: 10px;
border-radius: 50%;
background: $checked;
}
